<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 class="page-title">Sales Revenues</h3>
            <hr>
            <div class="row">    
                <div class="col-12">
                    <div class="chart-card">
                        <div class="chart-card-header">
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <div class="col-12">
                                        <button class="btn btn-outline-info btn-block" (click)="showYSSRprt()">Year-wise Sales</button>
                                    </div>
                                    <br>
                                    <div class="col-12">
                                        <button class="btn btn-outline-info btn-block" (click)="showMSSRprt()">Month-wise Sales</button>
                                    </div>
                                    <br>
                                    <div class="col-12">
                                        <button class="btn btn-outline-info btn-block" (click)="showISSRprt()">Item-wise Sales</button>
                                    </div>
                                </div>
                                <div class="col-6" style="border: blue; border-width: 2px;">
                                    <h5 style="color: cadetblue;">Department-wise sales</h5>
                                    <ul>
                                        <li>
                                            <button class="btn btn-block" style="color: cadetblue;" [routerLink]="['/mis/sales/showroom']"><u>Showroom</u></button>
                                        </li>
                                        <li>
                                            <button class="btn btn-block" style="color: cadetblue;" [routerLink]="['/mis/sales/service-department']"><u>Service Department</u></button>
                                        </li>
                                        <li>
                                            <button class="btn btn-block" style="color: cadetblue;" [routerLink]="['/mis/sales/contracts']"><u>Contracts</u></button>
                                        </li> 
                                        <li>
                                            <button class="btn btn-block" style="color: cadetblue;" [routerLink]="['/mis/sales/one-stop-shop']"><u>One Stop Shop</u></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showISS">
                        <h5><br>Item-wise Sales</h5>
                        
                    </div>
                    <div *ngIf="showMSS">
                        <h5><br>Month-wise Sales</h5>
                        
                    </div>
                    <div *ngIf="showYSS">
                        <h5><br>Total Sales: Department-wise Breakdown<br></h5>
                        <table class="table table-hover table-striped table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th rowspan="2">Department</th>
                                    <th colspan="3">YEAR {{ curYear }} (Till Date)</th>
                                    <th colspan="3">YEAR {{ preYear }}</th>
                                </tr>
                                <tr>
                                    <th>Selling (BHD)</th>
                                    <th>Cost (BHD)</th>
                                    <th>Gross Profit (BHD)</th>
                                    <th>Selling (BHD)</th>
                                    <th>Cost (BHD)</th>
                                    <th>Gross Profit (BHD)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let scrprt of curYearShowroomRprt; let i = index">
                                    <td>Showroom</td>
                                    <td>{{ curYearShowroomRprt[i].SELLLING | number:'1.3' }}</td>
                                    <td>{{ curYearShowroomRprt[i].COST | number:'1.3' }}</td>
                                    <td>{{ curYearShowroomRprt[i].GROSS | number:'1.3' }}</td>
                                    <td>{{ preYearShowroomRprt[i].SELLLING | number:'1.3' }}</td>
                                    <td>{{ preYearShowroomRprt[i].COST | number:'1.3' }}</td>
                                    <td>{{ preYearShowroomRprt[i].GROSS | number:'1.3' }}</td>
                                </tr>
                                <tr *ngFor="let scrprt of curYearServiceDeptRprt; let i = index">
                                    <td>Service Department</td>
                                    <td>{{ curYearServiceDeptRprt[i].SELLLING | number:'1.3' }}</td>
                                    <td>{{ curYearServiceDeptRprt[i].COST | number:'1.3' }}</td>
                                    <td>{{ curYearServiceDeptRprt[i].GROSS | number:'1.3' }}</td>
                                    <td>{{ preYearServiceDeptRprt[i].SELLLING | number:'1.3' }}</td>
                                    <td>{{ preYearServiceDeptRprt[i].COST | number:'1.3' }}</td>
                                    <td>{{ preYearServiceDeptRprt[i].GROSS | number:'1.3' }}</td>
                                </tr>
                                <tr *ngFor="let osscrprt of curYearOneStopShopRprt; let i = index">
                                    <td>One Stop Shop</td>
                                    <td>{{ curYearOneStopShopRprt[i].SELLLING | number:'1.3' }}</td>
                                    <td>{{ curYearOneStopShopRprt[i].COST | number:'1.3' }}</td>
                                    <td>{{ curYearOneStopShopRprt[i].GROSS | number:'1.3' }}</td>
                                    <td>{{ preYearOneStopShopRprt[i].SELLLING | number:'1.3' }}</td>
                                    <td>{{ preYearOneStopShopRprt[i].COST | number:'1.3' }}</td>
                                    <td>{{ preYearOneStopShopRprt[i].GROSS | number:'1.3' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>