<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 class="page-title">Payables</h3>
            <hr>
            <!-- Ageing Chart -->
            <div class="row">    
                <div class="col-12">
                    <div class="chart-card">
                        <div class="chart-card-header">
                            <span>Total Ageing</span>
                        </div>
                        <div class="chart-card-body">
                            <canvas id="totalAgeingChart"></canvas>
                        </div>
                    </div>
                    <!-- Ageing Table -->
                    <h5>Ageing Summary</h5>
                    <table class="table table-hover table-striped table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>30 Days (BHD)</th>
                            <th>60 Days (BHD)</th>
                            <th>90 Days (BHD)</th>
                            <th>120 Days (BHD)</th>
                            <th>180 Days (BHD)</th>
                            <th>365 Days (BHD)</th>
                            <th>Above 365 Days (BHD)</th>
                            <th>Unallocated Balance (BHD)</th>
                            <th>Net Balance (BHD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rprt of ageingRprt">
                            <td>{{ rprt.CUST_CODE }}<br>{{ rprt.CUST_NAME }}</td>
                            <td>{{ rprt.M_30_DAYS | number:'1.3'}}</td>
                            <td>{{ rprt.M_60_DAYS | number:'1.3'}}</td>
                            <td>{{ rprt.M_90_DAYS | number:'1.3'}}</td>
                            <td>{{ rprt.M_120_DAYS | number:'1.3'}}</td>
                            <td>{{ rprt.M_180_DAYS | number:'1.3'}}</td>
                            <td>{{ rprt.M_365_DAYS | number:'1.3'}}</td>
                            <td>{{ rprt.ABOVE_365_DAYS | number:'1.3'}}</td>
                            <td>{{ rprt.UNALLOC_BALANCE | number:'1.3'}}</td>
                            <td>{{ rprt.NET_BALANCE | number:'1.3'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>   
        </div>
        <div class="col-1"></div>
    </div>
</div>
