<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 class="page-title">Service Department Sales</h3>
            <hr>
            <button class="btn btn-link" [routerLink]="['/mis/sales']"><u>&larr; Go back to sales</u></button>
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-outline-info btn-block">Service Maintenance</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-info btn-block">Small Jobs</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-info btn-block">Small Contract Jobs</button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>