<div class="container-fluid content-wrapper">
  <div class="row">
    <div class="col-1"></div>
  <div class="col-10">
    <h3 class="page-title">Dashboard</h3>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="chart-card">
          <div class="chart-card-header">
            <span>Top High Value Products</span>
          </div>
          <div class="chart-card-body">
            <canvas id="hVPBChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="chart-card">
          <div class="chart-card-header">
            <span>Subcategory-wise Stock Position</span>
          </div>
          <div class="chart-card-body">
            <canvas id="sCWSBChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="chart-card">
          <div class="chart-card-header">
            <span>Location-wise Stock Position</span>
          </div>
          <div class="chart-card-body">
            <canvas id="lWSBChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="chart-card">
          <div class="chart-card-header">
            <span>Location-wise Distribution</span>
          </div>
          <div class="chart-card-body">
            <canvas id="lWSDNChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  </div>
</div>
