<div class="zippy">
    <div class="zippy-heading" [class.expanded]="isExpanded" (click)="toggle()">
        <div class="row">
            <div class="col-1">
                {{ srno+1 }}
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col-2">
                        <p>Name:</p>
                    </div>
                    <div class="col-10">
                        <p>{{ details[0].NAME }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>Number:</p>
                    </div>
                    <div class="col-10">
                        <p>{{ complaint.CALLER }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>Time:</p>
                    </div>
                    <div class="col-10">
                        <p>{{ complaint.CALLTIME?.charAt(complaint.CALLTIME?.length - 1) === 'Z' ? (complaint.CALLTIME | date:'mediumTime':'UTC') : (complaint.CALLTIME?.concat('Z') | date:'mediumTime':'UTC') }}</p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-2">
                        <p>Duration:</p>
                    </div>
                    <div class="col-10">
                        <p>{{ complaint.DURATION }}&nbsp;sec</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div *ngIf="isExpanded" class="zippy-body">
        <div class="row">
            <div class="col-4">
                <p>Case Number:</p>
            </div>
            <div class="col-8">
                <p>{{ complaint.CASE_NO }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Description:</p>
            </div>
            <div class="col-8">
                <p>{{ complaint.CASE_DESCRIPTION }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Party Name:</p>
            </div>
            <div class="col-8">
                <p>{{ complaint.CUST_NAME }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Customer Name:</p>
            </div>
            <div class="col-8">
                <p>{{ complaint.PARTY_NAME }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Assigned to:</p>
            </div>
            <div class="col-8">
                <p>{{ complaint.SCHEDULE_ASSIGNED_TO_NAME }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Address:</p>
            </div>
            <div class="col-8">
                <p>{{ complaint.SCHEDULE_ADD1 }}, {{ complaint.SCHEDULE_ADD3 }}, {{ complaint.SCHEDULE_ADD3 }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Enquiry Number:</p>
            </div>
            <div class="col-8">
                <p>{{ complaint.ENQ_JOB_NO }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Work Order Nbr:</p>
            </div>
            <div class="col-8">
                <p>{{ complaint.SCHEDULE_NO }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Job Nbr:</p>
            </div>
            <div class="col-8">
                <p>{{ complaint.SCHEDULE_JOB_NO }}</p>
            </div>
        </div>
    </div>
</div>